body{
    font-family: arial;
    margin: 0;
    padding: 0;
    border: none;
}

.screen{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    height: 100vh;
}

.calculator{
    display:flex;
    width: 580px;
    height: 800px;
    background-color:black;
    border: 10px ridge rgba(0, 0, 0, 0.734);
    flex-direction: column;
    align-items: center;

}

.magic {
    background-color: dodgerblue;
}

.operation{
    background-color: #FF8F1F;
}

.special {
    background-color: #FF8F1F;
}

.digit{
    background-color: #217C7E;
}

.display{
    display:flex;
    background-color:#b2b9b7;
    width:570px;
    height: 180px;
    justify-content:right;
    align-items:start;
    margin-top: 7.5px;
    flex-shrink: 0;
    margin-bottom: 5px;
    padding:5px;
    font-size: 80px;
}

.numbers{
    height: 115px;
    width: 140px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    border-radius: 10px;
}

.zero{
    height: 115px;
    width: 287px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    border-radius: 10px;
}

.row{
    display: flex;
    flex-direction: row;
}

